{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
    FindMyJabs
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ url_for('galleryPage') }}">FindMyJabs</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('galleryPage') }}">Patient Survey</a></li>
            </ul>
        </div>
    </nav>
{% endblock %}
