VITE_FIREBASE_API_KEY= "AIzaSyDM-sBsW7bM_NSpikvGHkmJh9WpAoYp2Qc"
VITE_FIREBASE_AUTH_DOMAIN= "findmyjabs.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID= "findmyjabs"
VITE_FIREBASE_STORAGE_BUCKET= "findmyjabs.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID= "649147206705"
VITE_FIREBASE_APP_ID= "1:649147206705:web:24050286de415b0e0b5910"
